::selection {
    background-color: black;
    color: white; 
}
.circle {
    display: block; 
    transition: .5s; 
    width: 15em;
    height: 15em; 
    border-radius: 50%;
    position: absolute;
    left: 0; 
    right : 0; 
    margin: auto; 
}
.dot {

    background-color: rgb(245, 246, 147);
    width: 4em;
    height: 3em; 
    border-radius: 50%; 
    font-size: .4em;
    text-align: center; 
    color: rgb(045, 050, 087);
    border-color: white; 
    border-width: 1.5em; 
    border-style: solid; 
    transition: .3s; 
    //position: absolute;
    position:relative; 
    margin: auto; 
    right: 0; 
    bottom: 0; 
    z-index: 500; 
    padding-top: 1em; 
    cursor: pointer;
    display:inline-block; 
    margin: 2em; 
    
}
.dot:hover {
    transition: .3s; 
    border-width: 2em; 
}

#dots {
/*
    left: 0;
    right: 0;
    margin: auto;
    height: 26em;
    width: 26em;
    position: absolute;
    top: 2em; ;   
    right:5em; 
*/
    position:absolute; 
    bottom:1.5em; 
    margin:auto; 
    left:0; 
    right:0; 
    
    
}
#front /* top image */ {
 z-index: 2; 
        
    border-color:white; 
    border-style: solid; 
    font:white; 
        border-width:2em; 
    top:1em; 

}
#back /*back image */  {
    z-index: 1; 
    top:1em; 
    border-color:white; 
    border-style: solid; 
    font:white; 
    border-width:2em; 
}
#screen {
    background-color: white; 
    transition: .5s; 
    opacity: .4;
    z-index: 3; 
    top:3em; 
}
#screen:hover {
    transition: .5s; 
    opacity: 0; 
}
#bannerdesc /*descrption below banner */ {
    position: relative;
    font-size: 1em; 
    color: white; 
    padding-top: 11em; 
    padding-left: 2em; 
    padding-right: 2em;
    z-index: 2; 
    text-shadow:
    -1px -1px 0 #000,
    1px -1px 0 #000,
    -1px 1px 0 #000,
    1px 1px 0 #000;
    
}
#screen:hover #bannerdesc {
    opacity: 1;    
}
@media (max-width: 480px) {
    body{ font-size: x-small;} 
    #center{ font-size: 1em; }

    .dot{border-width:1em; margin:.5em;  }
}