body {
  margin: 0; 
  overflow-x: hidden; 
  overflow-y: hidden; 
  color: white; 
  font-family: Poiret One, sans-serif;
  text-transform: lowercase; 
}
@font-face {
    font-family: Poiret One;
    src:  url('styles/Poiret_One/PoiretOne-Regular.ttf');
}
#cover {
  width: 100%; 
  height: 100vh; 
  background: white; 
  
}
#wrapper {
  height: 100vh; 
  overflow-x: hidden; 
  overflow-y: auto;
  perspective: 2px; 
  transform-style: preserve-3d; 
}
#background1{
  background: url('background.png') no-repeat center ;
  background-size: cover;
  width: 100%; 
  position: absolute; 
  transform: translateZ(-1px) scale(1.501);  
}
#background2{
  position: absolute; 
  transform: translateZ(-1px) scale(2);  
}

#midground {
  height: 100vh;
  width: 100%; 
  position: absolute; 
  transform: translateZ(0);  
}
.page {
  min-height: 100vh; 
  position: relative; 
  padding: 1px;
  background-size: 100%; 
  margin-top: 0; 
  transition: 1s; 
}
.hide{
  opacity: 0; 
  transition: 1s; 
}
#page0 {
  text-align: center; 
  height: 100vh; 
  background: none; 
}
#page1{  
}
#page1 {
}
#page2 {
}
#page3 {
}

#current {
  background: white; 
  opacity: 100%; 
}
#navbutton{
  width: 30px; 
  height: 30px; 
}
#navbutton:hover{
  cursor:pointer; 
}
#navbar {
  width: 100%; 
  position: fixed; 
  z-index: 1; 
}
#navbar-list {
  float: right; 
  top: 0;
}
#navbar-list li {
  display: inline; 
  font-size: 2vh; 
  color: white; 
  z-index: 5; 
  cursor: pointer; 
  padding: 1vh; 
  transition: .5s; 
}
.selected{
  font-style: bold; 
  background: rgba(255, 255, 255, .3); 
  transition: .5s; 
}
h1 {
  text-align: center; 
  width: 100%; 
  font-size: 10vh; 
  z-index: 2; 
  font-style: normal;
}
.desc {
  padding: 3vw; 
  font-size: 3vw; 
}
#scrolldown{
  position: absolute; 
  top: 90vh; 
  left: 0; 
  right: 0; 
  width: 5vh;
  height: 5vh; 
  margin: auto; 
}
#scrolldown:hover{
  cursor: pointer; 
}
#threedcontainer{
  height: 99vh; 
  line-height: 80vh; 
  
}
#lassyla{
  width: 100%; 
  text-align: center; 
}
canvas{    
  position: absolute;
  top: 0;
  bottom: 0; 
  right: 0; 
  left: 0; 
  margin: auto; 
}

.workcontainer {
  position: relative; 
  margin: 8vw;  
  margin-bottom: 30vh; 
  display: block;
  padding: 2vh; 
  font-size: 5vh;
}

.workdesc{
  display: inline-bock; 
  min-height: 20vh; 
  font-size: 2vw; 
  position: absolute; 
  margin: auto; 
  top: 0; 
  bottom: 0; 
  width: 50%; 
}

.left{
  padding-left: 35vh;
}
.right{
  padding-right: 35vh; 
  text-align: right; 
  right: 0; 
}

.leftimage {
  height: 30vh; 
  width:30vh; 
  object-fit: cover; 
  border-radius: 50%; 

  position: absolute; 
  margin: auto; 
  top: 0; 
  bottom: 0; 
  background: green; 
  z-index: 2; 
  border: 1vh solid white; 
}

.leftimage:hover{
  cursor: pointer; 
}
.rightimage{
  height: 30vh; 
  width: 30vh; 
  object-fit: cover; 

  border-radius: 50%; 
  position: absolute; 
  margin: auto; 
  top: 0; 
  bottom: 0; 
  right: 0; 
  z-index: 2; 

  border: 1vh solid white; 
}
.rightimage:hover{
  cursor: pointer; 
}
h2{
  font-size: 10vh; 
}
h3{
  font-size: 5vh;
  margin: 0; 
}

.screen{
  position: fixed; 
  width: 100vw; 
  height: 100vh; 
  background-color: blue; 
  z-index: 10; 
  top: 0; 
  text-align: center; 
  line-height: 100vh; 
  color: white; 
  font-size: 10vh; 
}
@media only screen and (max-width: 768px) {
  .leftimage, .rightimage {
    width: 60vw; 
    height: 60vw; 
    left: 0; 
    right: 0; 
    margin:inherit 
  }
  .workcontainer{
    background: green; 
    min-height: 70vh;
  }
  .workdesc{
    width: inherit; 
    top: 70vw; 
    left: 0; 
    text-align: center; 
    padding: 0; 
  }
  
}