@font-face{
    font-family: pixel; 
    src: url(visitor1.ttf); 
}
body {
	text-align: center; 
    font-family: pixel; 
    color: white; 
}
h1 {
    margin: 50px; 
}
#stuff{
    display: inline-block; 
    margin: auto; 
    height: 500px; 
    
}
#left{
    display: inline; 
    width: 270px; 
    height: 500px; 
    float: left; 
}
#middle{
    width: 630px; 
    height: 500px; 
    display: inline; 
    float: left; 
    margin-left: 20px; 
    overflow-y: scroll; 
    scrollbar-face-color: black; 
    overflow-x: hidden; 
    border-style: double; 
    border-color: white; 
    border-width: 4px; 
    background-color: rgb(219, 84, 95); 

}
#right{
    display: inline; 
    width: 270px; 
    height: 500px; 
    margin-left: 10px; 
    float: left; 
    padding-top: 310px; 
}
#arrows{
    float: left; 
}
.arrow{
    border: 4px double white; 
    display: inline-block; 
    width: 40px; 
    height: 40px; 
    line-height: 36px; 
    text-align: center; 
    margin-top: 10px; 
    font-size: 20px; 
    background-color: rgb(219, 84, 95); 
    transition: 1s; 

}
.arrow:hover{
    background-color: rgb(201, 33, 105); 
    cursor: pointer; 
    transition: 1s; 
}
#image{
    width: 250px; 
    height: 250px; 
    border: 4px double white;     
    padding: 5px; 
    background-color: rgb(219, 84, 95); 
    
}
#desc{
    color: white; 
    height: 80px; 
    margin-top: 10px; 
    background-color: rgb(219, 84, 95); 
    padding: 10px; 
    border: 4px double white; 
}
#action{
    float: right; 
    color: white; 
    height: 80px;
    line-height: 70px; 
    width: 70px; 
    background-color: rgb(219, 84, 95); 
    margin-top: 10px; 
    text-align: center; 
    padding: 10px; 
    border: 4px double white;     
    display: block; 
    text-decoration: none; 
    transition: 1s; 
}
#action:hover{
    background-color: rgb(201, 33, 105); 
    cursor: pointer; 
    transition: 1s; 
}

#scroll{
    float: right; 
    background: red; 
}
#grid{
    margin: auto; 
    width: 600px; 
    border: 10px; 
    border-spacing: 20px;
    border-collapse: separate;
    background-color: rgb(219, 84, 95); 

}
tr{
}
td{
    color: white;
    width: 25%;
    margin: 10px; 
    position: relative; 
    padding: none; 
    bottom: 0;
    overflow: hidden;
    border: 1px solid white;
    text-align: center;
    height: 120px;
}
.caption{
    position: absolute; 
    z-index: 3;
    left: 0;
    margin: auto;
    right: 0;
    width: 90px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
td:hover{
    cursor: pointer; 
}
td img{
    position: absolute;
    top: 0px; 
    left: 0px; 
    width: 125px;
    height: 125px;
    opacity: 0.6;
    z-index: 1;
}
#empty{
    background: gray; 
    cursor: default; 
}
#bg{
    background-color: rgb(219, 57, 98);
    left:0; 
    right:0; 
    top:0;
    bottom:0; 
    position: fixed; 
    z-index: -2; 
    margin: none; 
}
#bgtop{
    background-color: rgb(219, 84, 95); 
    background-image: url("top_gradient.png");
    top: 0; 
    background-position: bottom; 
    background-repeat: repeat-x;
    height: 33%; 
}
#clouds{
    background-image: url("cloud.png");
    left: 0; 
    right: 0; 
    top: 0; 
    bottom: 0; 
    z-index: -1; 
    position: fixed; 
    background-repeat: repeat-x;
    background-position: center;
    animation: marquee 300s linear infinite;
    -webkit-animation: marquee 100s linear infinite;
}
#bgbottom{
    position: fixed;
    bottom: 0; 
    width: 100%; 
    background-color: rgb(201, 33, 105); 
    background-image: url("bottom_gradient.png");
    margin-bottom: 0; 
    background-repeat: repeat-x;
    height: 33%; 
    background-position: top; 
}
@keyframes marquee {
    100% { left: -2794px; }
}
@-webkit-keyframes marquee {
    100% { left: -2794px; }
}
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background-color: rgb(251, 201, 121); 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
}