body{
  text-align: center; 
  margin: 0; 
  font-family: Poiret One, sans-serif;
  text-transform: lowercase; 
}
@font-face {
    font-family: Poiret One;
    src:  url('Poiret_One/PoiretOne-Regular.ttf');
}

#navs{
  font-size: 2vw; 
  position: fixed; 
  top: 0; 
  margin: 4vh; 
}
#navs img{
  height: 3vh; 
  float: left; 
  margin-top: 1vh; 
}
#navs:hover{
  cursor: pointer; 
}
#home:after{
  opacity: 0; 
  content:"personal site"; 
  transition: .5s; 
  position: absolute; 
}
#home:hover:after{
  transition: .5s; 
  opacity: 1; 
}
#insta:after{
  opacity: 0; 
  content:"instagram"; 
  transition: .5s; 
    position: absolute; 
  top: 4vh; 

}
#insta:hover:after{
  transition: .5s; 
  opacity: 1; 
}
#youtube:after{
  opacity: 0; 
  content:"youtube"; 
  transition: .5s; 
    position: absolute; 
  top: 8vh; 
}
#youtube:hover:after{
  transition: .5s; 
  opacity: 1; 
}
h1{
  text-align: center; 
  font-size: 10vh; 
}
.gallery{
  margin: auto; 
  width: 70vw; 
  position: absolute; 
  left: 0; 
  right: 0; 
  transition: opacity 0.7s linear;
  -moz-transition: opacity 0.7s linear;
  -o-transition: opacity 0.7s linear;
  -webkit-transition: opacity 0.7s linear;
}
.hidden{
  opacity: 0;
  transition: opacity 0.7s linear;
  visibility: hidden;
  -moz-transition: opacity 0.7s linear;
  -o-transition: opacity 0.7s linear;
  -webkit-transition: opacity 0.7s linear;
}
li{
  display: inline; 
  margin:1vw; 
  font-size: 2vw; 
  padding: 1vh; 
}
li:hover{
  cursor:pointer; 
}
ul{
  margin: 0;  
  padding: 0; 
  margin-bottom: 6vh; 
}
a{
  color:white;
}
a:link{
  color: white; 
}
a:visited{
  color:white;
}
.codebox {
  width: 300px; 
  height: 200px; 
  background-size: 100%; 
  display: inline-block; 
  font-size: 3vh; 
  text-align: center; 
  position: relative; 
  color: black; 
  overflow: hidden; 
  padding-top: 100px;
  margin: 1vh; 
  
}
.codebox img{
  top: 0; 
  width: 300px; 
  height: 300px; 
  position: absolute; 
  margin: auto; 
  object-fit: cover; 
  transition: .5s; 
  z-index: 2;
  display: block; 
  -webkit-transform: translateZ(0);
}
.codebox img:hover 
{
  opacity: .4; 
  transition: .5s; 
  -webkit-transform: translateZ(0);
}

#left{
  top: 50%;
  position: absolute; 
  left: 0; 
  color: white; 
  font-size: 10vh; 
}
#left:hover{
  cursor:pointer; 
}
#left:active{
  color: gray; 
}
#right{
  top: 50%;
  position: absolute; 
  right: 0; 
  color: white; 
  font-size: 10vh; 

}
#right:hover{
  cursor:pointer; 
}
#right:active{
  color: gray; 
}

#screen{
  width: 100%; 
  height: 100%; 
  position: fixed; 
  left: 0; 
  right: 0; 
  top: 100%; 
  bottom: 0; 
  z-index: 3; 
  opacity: .2; 
  text-align: center; 
}

#content{
  display: block; 
  margin: auto; 
  max-width: 80vw; 
  top: 0;  
  bottom: 0; 
  left: 0; 
  right: 0; 
  position: absolute; 
  max-height: 90vh; 
  background: pink; 
  z-index: 5; 
}

#backscreen{
    background: rgba(0, 0, 0, .9); 
  width: 100%; 
  height: 100%; 
}

#transitionscreen{
  position: fixed; 
  width: 100vw; 
  height: 100vh; 
  background-color: #F98D8D; 
  z-index: 10; 
  top: 0; 
  text-align: center; 
  line-height: 100vh; 
  color: white; 
  font-size: 10vh; 
/*
  transition: all 0.7s linear;
  -moz-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
  -webkit-transition: all 0.7s linear;
*/
}
/*

.off{
  opacity: 0; 
  left: -100vw; 
  transition: all 0.7s linear;
  -moz-transition: all 0.7s linear;
  -o-transition: all 0.7s linear;
  -webkit-transition: all 0.7s linear;
  
}*/
