body {
  margin: 0; 
  overflow-x: hidden; 
  overflow-y: hidden; 
  color: white; 
  font-family: Poiret One, sans-serif;

}
@font-face {
    font-family: Poiret One;
    src:  url('Poiret_One/PoiretOne-Regular.ttf');
}
#cover {
  width: 100%; 
  height: 100vh; 
  background: white; 
  
}
#wrapper {
  height: 100vh; 
  overflow-x: hidden; 
  overflow-y: auto;
  perspective: 2px; 
  transform-style: preserve-3d; 
}
#background1{
  background: url('../images/background.png') no-repeat center ;
  background-size: cover;
  width: 100%; 
  position: absolute; 
  transform: translateZ(-1px) scale(1.501);  
}
#background2{
  position: absolute; 
  transform: translateZ(-1px) scale(2);  
}

#midground {
  height: 100vh;
  width: 100%; 
  position: absolute; 
  transform: translateZ(0);  
}
.page {
  min-height: 100vh; 
  position: relative; 
  padding: 1px;
  background-size: 100%; 
  margin-top: 0; 
  transition: 1s; 
}
.hide{
  opacity: 0; 
  transition: 1s; 
}
#page0 {
  text-align: center; 
  height: 100vh; 
  background: none; 
  z-index: 7; 
}
a{
  color: white; 
}

#current {
  background: white; 
  opacity: 100%; 
}
#navbutton{
  width: 30px; 
  height: 30px; 
}
#navbutton:hover{
  cursor:pointer; 
}
#navbar {
  position: fixed; 
  z-index: 1; 
  height: 6vh; 
  line-height: 6vh; 
}
#navbar-list {
  display: inline; 
  top: 0;
  max-width: 50%; 
}
#navbar-list li {
  display: inline; 
  font-size: 3vh; 
  color: black;; 
  z-index: 5; 
  cursor: pointer; 
  padding: 1vh; 
  padding-top: 0; 
  padding-bottom: 0; 
  transition: .5s; 

}
#navbar-links{
  position: absolute;
  right: 2vw;
  top: 2vw; 
  display: inline;
  margin-top: 0; 
  max-width: 50%; 
}
#navbar-links li{
  display: inline; 
}
#navbar-links li:hover{
  cursor:pointer; 
}
.selected{
  font-style: bold; 
  background: rgba(255, 255, 255, .3); 
  transition: .5s; 
}
h1 {
  margin-top: 5vh; 
  text-align: center; 
  width: 100%; 
  font-size: 10vh; 
  z-index: 2; 
  font-style: normal;
  margin-bottom: 0; 
    font-family: Poiret One, sans-serif;

}
#page0 h1{
  padding-top: 5vh; 
  z-index: 3; 
}
.desc {
  padding: 3vw; 
  max-width: 80%; 
  margin: auto; 
  font-size: 5vh;
  min-width: 50%; 
}
#scrolldown{
  position: absolute; 
  top: 90vh; 
  left: 0; 
  right: 0; 
  width: 5vh;
  height: 5vh; 
  margin: auto; 
}
#scrolldown:hover{
  cursor: pointer; 
}
#threedcontainer{
  height: 99vh; 
  line-height: 80vh; 
  z-index: 1; 
}
#lassyla{
  width: 100%; 
  text-align: center; 
}
canvas{    
  position: absolute;
  top: 0;
  bottom: 0; 
  right: 0; 
  left: 0; 
  margin: auto; 
}

.workcontainer {
  position: relative; 
  margin: 8vw;  
  margin-bottom: 30vh; 
  display: block;
  padding: 2vh; 
  font-size: 5vh;
}

.workdesc{
  display: inline-bock; 
  min-height: 20vh; 
  font-size: 2vw; 
  position: absolute; 
  margin: auto; 
  top: 0; 
  bottom: 0; 
  width: 50%; 
}

.left{
  padding-left: 35vh;
}
.right{
  padding-right: 35vh; 
  text-align: right; 
  right: 0; 
}

.leftimage {
  height: 30vh; 
  width:30vh; 
  object-fit: cover; 
  border-radius: 50%; 
  position: absolute; 
  margin: auto; 
  top: 0; 
  bottom: 0; 
  left: 0; 
  z-index: 2; 
  border: 1vh solid white; 
  transition: .5s; 
  background: white;
}

.leftimage:hover{
  cursor: pointer; 
  border-width: 2vh; 
  transition: .5s; 
  left: -1vh; 
}
.rightimage{
  height: 30vh; 
  width: 30vh; 
  object-fit: cover; 
  border-radius: 50%; 
  position: absolute; 
  margin: auto; 
  top: 0; 
  bottom: 0; 
  right: 0; 
  z-index: 2; 
  transition: .5s; 
  border: 1vh solid white; 
  background: white; 
}
.rightimage:hover{
  cursor: pointer; 
  border-width: 2vh; 
  transition: .5s; 
  right: -1vh;
}
h2{
  font-size: 10vh; 
  font-family: Poiret One, sans-serif;

}
h3{
  font-size: 5vh;
  margin: 0; 
  font-family: Poiret One, sans-serif;

}
.screen{
  position: fixed; 
  width: 100vw; 
  height: 100vh; 
  background-color: #F98D8D; 
  z-index: 10; 
  top: 0; 
  text-align: center; 
  line-height: 100vh; 
  color: white; 
  font-size: 10vh; 
}
form{
    width: 80vw; 
    margin: auto;
    text-align: center; 
}
input, textarea{
  margin: 2vh; 
  font-size: 3vh; 
  font-family: inherit; 
}
#msg{
  height: 50vh; 
  width: 60%; 
}
#submit{
  padding: 1vh; 
}
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
  .leftimage, .rightimage {
    width: 60vw; 
    height: 60vw; 
    max-height: 60vh; 
    left: 0; 
    right: 0; 
    margin:inherit;
    margin-bottom: 0; 

  }
  .leftimage:hover, .rightimage:hover{
    left: -1vh; 
    right: 0; 
    top: -1vh;
  }
  .workcontainer{
    min-height: 60vh;
  }
  .workdesc{
    width: inherit; 
    margin-top: 70vw;
    margin-bottom: 50vw; 
    left: 0; 
    text-align: center; 
    padding: 0; 
    font-size: 5vw; 
    z-index: 6; 
  }
  .desc{
    font-size: 5vw; 
  }
  #msg{
    width: 90%; 
  }
  #navbar-list li {
    display: none; 
  }
  #navbar {
    float: right; 
    font-size: 3.5vw;  
  }
}
::-webkit-scrollbar {
    width: 12px;
}
 
/* Track */
::-webkit-scrollbar-track {
    background-color: black; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
}